# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
azure-identity
openai==1.30.2
azurefunctions-extensions-http-fastapi
# azure-monitor-opentelemetry
# azure-monitor-events-extension
# tiktoken
# urllib3
# fastapi
# opentelemetry-instrumentation-fastapi
# opentelemetry-instrumentation-asgi
# azure-core-tracing-opentelemetry
# azure-monitor-opentelemetry-exporter
